<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="keeley.css">
    <link rel=icon type="image/png" href={{ url_for('static', filename='favicon.png') }}>

    <!--
    <title>{{ SITE_NAME }}</title>
    -->
  </head>
  <body>
    <header>
      <span>hello world</span>
      <!--
      <a href={{ url_for('repo_list') }}> 
        {{ SITE_NAME }}
      </a>
      <span class=breadcrumbs>{% block breadcrumbs %}{% endblock %}</span>
      {% block extra_header %}{% endblock %}
      -->
    </header>

    <div id="content">
      <div id="filemanager">
      </div>
    </div>

    <footer>
      powered by <a href="https://github.com/pservers/keeley">keeley</a> {{ KEELEY_VERSION }},
      a simple file manager by Fpemud
    </footer>

    <script src="index-bundle.js"></script>
  </body>
</html>